.container{
    margin: 0;
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    font-size:90px;
    color: #f1f1f1;
    animation: animTitle 2s;
    text-shadow: 2px 5px 10px rgba(0,0,0,0.2);
}

.container-box{
    background-color: rgba(255,255,255,0.35);
    padding: 20px;
    margin: 20px;
    width: 60%;
    min-width: 450px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 2px 6px 15px rgba(0,0,0,0.6);
    animation: animTitle 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 0px 0px 2px rgba(255,255,255,0.2);
}

.textInputContainer{
    font-size: 26px;
    font-weight: bold;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textInputContainer input{
    border:0;
    margin: 10px 0px 20px 0px;
    border-radius: 6px;
    min-width: 350px;
    padding: 10px;
    font-size: 18px;
    background-color: rgba(255,255,255,0.5);
    color:#000;
    outline: none;
}

.textInputContainer input::placeholder{
    color: rgba(0,0,0,0.5);
}

.dateInputContainer{
    font-size: 26px;
    font-weight: bold;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dateInputContainer input{
    border:0;
    margin: 10px 0px 20px 0px;
    border-radius: 6px;
    text-align: center;
    width: 75%;
    padding: 10px;
    font-size: 18px;
    background-color: rgba(255,255,255,0.5);
    color:#000;
    outline: none;
    margin-right: 8px;
}

.dateInputContainer input::placeholder{
    color: rgba(0,0,0,0.5);
}

.buttonRegister{
    background-color: transparent;
    border:0;
    font-size: 26px;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.6s;
}

.buttonRegister:hover{
    transform: scale(1.15);
}

.reminders{
    background-color: rgba(255,255,255,0.35);
    padding: 20px;
    margin: 20px 20px 200px 20px;
    width: 60%;
    min-width: 450px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 2px 6px 15px rgba(0,0,0,0.6);
    animation: animTitle 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 0px 0px 2px rgba(255,255,255,0.2);
}
.reminders h2{
    padding: 5px 0px 40px 0px;
    font-size: 28pt;
    text-shadow: 2px 3px 8px rgba(0,0,0 ,0.2);
}

.reminderGroup{
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-overflow: clip;
    background-color: rgba(255,255,255,0.25);
    box-shadow: 2px 3px 10px rgba(0,0,0,0.2);
}

.reminderDate{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.reminderItem{
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.reminderItem p{
    margin-right: 50px;
}
.deleteButton{
    background-color: rgba(255,200,200,0.4);
    color: red;
    padding: 5px;
    border: 0;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.deleteButton:hover{
    transform: scale(1.15);
}


@keyframes animTitle {
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
 }